@import url(normalize.css);
/* Colors */
/* Mixins */
/* Page style */
:root {
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html:before {
  content: '';
  display: none;
  background: url("../images/svg/check-icon.svg"), url("../images/svg/jeudi-on.svg"), url("../images/svg/vendredi-on.svg");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Arial Narrow, helvetica, sans-serif;
  background: #f4f8ff;
}

fieldset {
  border: none;
}

.container {
  width: 100%;
  float: left;
}

.header {
  height: 200px;
  width: 100%;
  float: left;
  background: rgba(234, 76, 137, 0.8) url("../images/background.png") no-repeat center center;
  background-size: cover;
  text-align: center;
}
.header .header__content {
  max-width: 550px;
  width: 100%;
  margin: auto;
}
.header .header__content .content__main-visual {
  clear: both;
  display: block;
  width: 100%;
  max-width: 160px;
  height: 150px;
  margin: auto;
  position: relative;
}
.header .header__content .visual__shadows {
  width: 100%;
  max-width: 80px;
  height: 80px;
  margin: 10px auto;
  padding: 1em;
  border-radius: 100%;
  box-shadow: 0 0 0 1.2em rgba(255, 255, 255, 0.4), 0 0 0 0.6em rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
}
.header .header__content .content__secondary-visual {
  background: #f4f8ff;
  width: 100%;
  max-width: 80px;
  margin: 10px auto;
  padding: 1em;
  border-radius: 100%;
  z-index: 2;
  position: relative;
}

.container__inscription {
  width: 100%;
  min-height: 200px;
  background: #f4f8ff;
  float: left;
  position: relative;
  z-index: 1;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.container__inscription .card__wrapper {
  width: 100%;
  max-width: 640px;
  margin: auto;
}

/* Card inscription design */
.inscription-card {
  width: 100%;
  height: auto;
  max-width: 640px;
  float: left;
  padding: 15px 90px 45px;
  margin: 45px auto;
  background: #ffffff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  text-align: center;
}
@media all and (max-width: 800px) {
  .inscription-card {
    padding: 15px 0 45px;
  }
}
.inscription-card .card__header {
  height: 75px;
  float: left;
  width: 100%;
}
@media all and (max-width: 800px) {
  .inscription-card .card__header {
    padding: 0 16px;
  }
}
.inscription-card .card__header > * {
  float: left;
  display: block;
  height: 100%;
}
.inscription-card .card__header .header__visual-item--1 {
  width: 20%;
}
.inscription-card .card__header .header__visual-item--2 {
  width: 20%;
}
.inscription-card .card__header .separator-x {
  width: calc(60% - 32px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  margin: 0 16px;
}
.inscription-card .card__form {
  background: #fbfcfe;
  border: 1px solid #dbe4f7;
  padding: 45px;
  float: left;
  padding-top: 0;
}
.inscription-card .card__form header h2, .inscription-card .card__form header h3 {
  padding: 0;
  line-height: 1.6;
}
.inscription-card .card__form header h2 {
  color: #606165;
  font-weight: bold;
  -webkit-margin-after: 0;
}
.inscription-card .card__form header h4 {
  color: #b4b4b4;
  font-weight: regular;
  -webkit-margin-before: 0;
  font-size: 16px;
}
.inscription-card .card__form fieldset:nth-child(1),
.inscription-card .card__form fieldset:nth-child(2) {
  padding: 0;
  height: 62px;
  border: 1px solid #dbe4f7;
  background: #fff;
}
.inscription-card .card__form fieldset:nth-child(1):nth-child(1), .inscription-card .card__form fieldset:nth-child(1):nth-child(4),
.inscription-card .card__form fieldset:nth-child(2):nth-child(1),
.inscription-card .card__form fieldset:nth-child(2):nth-child(4) {
  border-bottom: none;
}
.inscription-card .card__form input[type="text"],
.inscription-card .card__form input[type="email"] {
  appearance: none;
  width: 80%;
  border: none;
  height: 100%;
  float: left;
  position: relative;
  display: block;
  padding-left: .5em;
  font-weight: 500;
  font-size: 16px;
}
.inscription-card .card__form input[type="text"]::-webkit-input-placeholder, .inscription-card .card__form input[type="email"]::-webkit-input-placeholder {
  color: #D2D8E4;
}
.inscription-card .card__form input[type="text"]:-moz-placeholder, .inscription-card .card__form input[type="email"]:-moz-placeholder {
  color: #D2D8E4;
}
.inscription-card .card__form input[type="text"]::-moz-placeholder, .inscription-card .card__form input[type="email"]::-moz-placeholder {
  color: #D2D8E4;
}
.inscription-card .card__form input[type="text"]:-ms-input-placeholder, .inscription-card .card__form input[type="email"]:-ms-input-placeholder {
  color: #D2D8E4;
}
.inscription-card .card__form .icon {
  content: '';
  display: block;
  float: left;
  width: 20%;
  height: 100%;
  position: relative;
}
.inscription-card .form__infos {
  float: left;
  width: 100%;
  padding: 1em 0;
}
.inscription-card .form__infos p {
  color: #474747;
  font-weight: bold;
  font-size: 14px;
}
.inscription-card .form__dates {
  width: 190px;
  margin: auto;
  padding: 0 0 45px;
}
.inscription-card .form__dates label {
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  cursor: pointer;
  padding: 0;
}
.inscription-card .form__dates label:after {
  content: '';
  display: block;
  height: 30px;
  width: 90px;
  position: absolute;
  z-index: 2;
  margin-top: 90px;
}
.inscription-card .form__dates label[for="jeudi-25-juin"] {
  background: url("../images/svg/jeudi-off.svg") no-repeat center center;
  background-size: contain;
}
.inscription-card .form__dates label[for="vendredi-26-juin"] {
  background: url("../images/svg/vendredi-off.svg") no-repeat center center;
  background-size: contain;
  float: right;
}
.inscription-card .form__dates input[id="jeudi-25-juin"]:checked ~ label[for="jeudi-25-juin"] {
  background: url("../images/svg/jeudi-on.svg") no-repeat center center;
  background-size: contain;
}
.inscription-card .form__dates input[id="jeudi-25-juin"]:checked ~ label[for="jeudi-25-juin"]:after {
  background: url("../images/svg/check-icon.svg") no-repeat center center;
  background-size: 20%;
  -webkit-animation: popIn .7s ease-in;
  animation: popIn .7s ease-in;
}
.inscription-card .form__dates input[id="vendredi-26-juin"]:checked ~ label[for="vendredi-26-juin"] {
  background: url("../images/svg/vendredi-on.svg") no-repeat center center;
  background-size: contain;
}
.inscription-card .form__dates input[id="vendredi-26-juin"]:checked ~ label[for="vendredi-26-juin"]:after {
  background: url("../images/svg/check-icon.svg") no-repeat center center;
  background-size: 20%;
  -webkit-animation: popIn .7s ease-in;
  animation: popIn .7s ease-in;
}
.inscription-card input[type="submit"] {
  width: 180px;
  height: 60px;
  background: #ea4c89;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  appearance: none;
  padding: 0;
  margin: 45px auto 0;
  cursor: pointer;
}

/* Icons*/
.icon-dribbble {
  background: url("../images/svg/dribbble-icon.svg") no-repeat center center;
  background-size: 37%;
}

.icon-email {
  background: url("../images/svg/mail-icon.svg") no-repeat center center;
  background-size: 37%;
}

/* classes & generic */
.separator-x {
  height: 1px !important;
  width: 100%;
  display: block;
  background: #dbe4f7;
}

.hidden {
  display: none;
}

/* Animation */
@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
  }
  65% {
    -webkit-transform: scale(1.2) rotate(15deg);
    transform: scale(1.2) rotate(15deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
@keyframes popIn {
  0% {
    -webkit-transform: scale(0) rotate(-45deg);
    transform: scale(0) rotate(-45deg);
  }
  65% {
    -webkit-transform: scale(1.2) rotate(15deg);
    transform: scale(1.2) rotate(15deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
