.inscription-card .user-list {
  width: 100%;
  float: left;
  transition: height .6s ease;
  overflow-y: hidden;
}
.inscription-card .user-list.open {
  height: auto;
}
.inscription-card .user-list ul {
  height: 100%;
  width: 100%;
  display: block;
  float: left;
}
.inscription-card .user-list ul li {
  display: block;
  float: left;
  width: 20%;
  position: relative;
  margin: .35em 0;
}
.inscription-card .user-list ul li img {
  border-radius: 100%;
  width: 100%;
  max-width: 55px;
  display: block;
  margin: auto;
  box-shadow: 0 0 0 1px #dbe4f7;
}
.inscription-card .user-list ul li:after {
  display: block;
  content: '';
  background: #DBE4F7;
  width: 4px;
  height: 4px;
  position: absolute;
  margin-top: -28px;
  margin-left: -2px;
  border-radius: 100%;
}
.inscription-card .user-list ul li:nth-child(6), .inscription-card .user-list ul li:nth-child(15), .inscription-card .user-list ul li:nth-child(24), .inscription-card .user-list ul li:nth-child(33), .inscription-card .user-list ul li:nth-child(42), .inscription-card .user-list ul li:nth-child(51), .inscription-card .user-list ul li:nth-child(60), .inscription-card .user-list ul li:nth-child(69), .inscription-card .user-list ul li:nth-child(78), .inscription-card .user-list ul li:nth-child(87), .inscription-card .user-list ul li:nth-child(96), .inscription-card .user-list ul li:nth-child(105), .inscription-card .user-list ul li:nth-child(114), .inscription-card .user-list ul li:nth-child(123), .inscription-card .user-list ul li:nth-child(132) {
  margin-left: 64px;
}
.inscription-card .user-list ul li:nth-child(6):after, .inscription-card .user-list ul li:nth-child(15):after, .inscription-card .user-list ul li:nth-child(24):after, .inscription-card .user-list ul li:nth-child(33):after, .inscription-card .user-list ul li:nth-child(42):after, .inscription-card .user-list ul li:nth-child(51):after, .inscription-card .user-list ul li:nth-child(60):after, .inscription-card .user-list ul li:nth-child(69):after, .inscription-card .user-list ul li:nth-child(78):after, .inscription-card .user-list ul li:nth-child(87):after, .inscription-card .user-list ul li:nth-child(96):after, .inscription-card .user-list ul li:nth-child(105):after, .inscription-card .user-list ul li:nth-child(114):after, .inscription-card .user-list ul li:nth-child(123):after, .inscription-card .user-list ul li:nth-child(132):after {
  display: none;
}
.inscription-card .user-list ul li:nth-child(1):after, .inscription-card .user-list ul li:nth-child(10):after, .inscription-card .user-list ul li:nth-child(19):after, .inscription-card .user-list ul li:nth-child(28):after, .inscription-card .user-list ul li:nth-child(37):after, .inscription-card .user-list ul li:nth-child(46):after, .inscription-card .user-list ul li:nth-child(55):after, .inscription-card .user-list ul li:nth-child(64):after, .inscription-card .user-list ul li:nth-child(73):after, .inscription-card .user-list ul li:nth-child(82):after, .inscription-card .user-list ul li:nth-child(91):after, .inscription-card .user-list ul li:nth-child(100):after, .inscription-card .user-list ul li:nth-child(109):after, .inscription-card .user-list ul li:nth-child(118):after, .inscription-card .user-list ul li:nth-child(127):after, .inscription-card .user-list ul li:nth-child(136):after {
  display: none;
} 